@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: grid;
    column-gap: .3rem;
    row-gap: .05rem;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 50px auto 50px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn sb sb"
    "ft ft ft ft ft ft ft ft ft";
}
.el {
    background-color: #333;
    color: white;
    display: grid;
    place-content: center;
}
.header {
    grid-area: hd;
}

.sidebar {
    grid-area: sb;
    background-color: rebeccapurple;
}

.footer {
    grid-area: ft;
}


.container {
    grid-area: mn;
    min-height: 400px;
    display: grid;
    /* grid-auto-flow: column; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-auto-rows: minmax(150px, auto);
    column-gap: .1rem;
    row-gap: .3rem;
}
.box {
    background-color: black;
    font-size: 2rem;
    color: white;
    padding: .5rem;
    display: grid;
    place-content: center;
}
.box:first-child {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    place-content: center;
}
.box:nth-child(2) {
    background-color: darkslateblue;
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}